@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Freehand&display=swap");

:root {
  --secondary: #100e24ef;
}

body {
  background-color: rgba(252, 244, 244, 0.7);
  /* background-image: linear-gradient(120deg, #edffe6 0%, #daf4ef 80%); */
  height: 100vh;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

* {
  /* color: var(--secondary); */
  margin: 0;
  padding: 0;
}

#logo-font {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

#navbar a.active {
  color: rgb(249 115 22);
}

.tag {
  font-family: "Freehand", cursive;
}

.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
